html{
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

*{
    outline: none;
}

:root{
    --textColor: #222222;
    --rowSpace: 110px;
    --rowSpace2: 100px;
    --fontSize: 20px;
    --fontWeight: 400;
    --paddingFullWidth: 160px;
    --bgFirstScreen: #eeeeee;
    --bgFooter: #222222;
    --txtFooter: #ffffff;
    // poster 1
    --bgPoster: #ffe100;
    --colorTxt: #fe0711;
    --colorTxt-2: #fc090d;
    --color-3: #fd0b0d;
    --color-4: #383735;
    --color-5: #1b1b1b;
    --color-6: #fc0b0a;
    --color-7: #008ec9;
    --color-8: #fe0711;
}

@media(max-width: 1200px){
    :root{
        --rowSpace: 80px;
        --rowSpace2: 70px;
    }
}
@media(max-width: 1024px){
    :root{
        --paddingFullWidth: 30px;
    }
}
@media(max-width: 767px){
    :root{
        --rowSpace: 50px;
        --rowSpace2: 40px;
    }
}

.full-width{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    &--padding{
        padding: 0 var(--paddingFullWidth);
    }
}