h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

*{
    outline: none;
}

:root{
    --textColor: #222222;
    --rowSpace: 110px;
    --rowSpace2: 100px;
    --fontSize: 20px;
    --fontWeight: 400;
    --paddingFullWidth: 160px;
    --bgFirstScreen: #eeeeee;
    --bgFooter: #222222;
    --txtFooter: #ffffff;
}

h1, .h1 {
    font-size:3rem
}
h2, .h2 {
    font-size:2.5rem
}
h3, .h3 {
    font-size:2.25rem
}
h4, .h4 {
    font-size:2rem
}
h5, .h5 {
    font-size:1.75rem
}
h6, .h6 {
    font-size:1.5rem
}

@media(max-width: 1200px){
    :root{
        --rowSpace: 80px;
        --rowSpace2: 70px;
    }
}
@media(max-width: 1024px){
    :root{
        --paddingFullWidth: 30px;
    }
}
@media(max-width: 767px){
    :root{
        --rowSpace: 50px;
        --rowSpace2: 40px;
    }
}

.full-width{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    &--padding{
        padding: 0 var(--paddingFullWidth);
    }
}