.c-app.admin {
    font-size: 14px;
    .full-width{
        width: auto;
        margin-left: unset;
        margin-right: unset;
        &--padding{
            padding: 0;
        }
    }
    div.c-wrapper--with-navbar {
        margin-left: 250px;
        height: 100vh;
        position: relative;
        .header{
            padding: 20px 30px;
            box-shadow: 0px 0px 10px rgba(0,0,0,.1);
            margin-bottom: 50px;
            text-align: right;
            .page-title{
                font-size: 30px;
            }
        }
        .footer{
            padding: 20px 0;
        }
        .c-admin-main {
            padding: 0 20px;
            min-height: 500px;
            margin-bottom: 50px;
            .c-header {
                text-align: center;
                margin-bottom: 50px;
                h2{
                    text-transform: uppercase;
                    padding: 0;
                    margin: 0;
                    font-size: 30px;
                }
            }
    
            .c-content {
                & > .text-end{
                    .btn{
                        padding: 10px 25px;
                        text-transform: uppercase;
                        font-size: 12px;
                        margin-bottom: 20px;
                    }
                }
                .dataTables_wrapper{
                    .dataTables_length,
                    .dataTables_filter{
                        margin-bottom: 20px;
                        input,
                        select {
                            border: 1px solid #ebebeb;
                        }
                    }
                    table{
                        margin: 0;
                        width: 100% !important;
                        &.table-bordered{
                            border-color: #ebebeb;
                        }
                        thead{
                            tr{
                                th{
                                    font-weight: 400;
                                    text-transform: uppercase;
                                    font-size: 12px;
                                    padding: 5px 10px;
                                    border-color: #ebebeb;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    .btn{
                                        padding: 10px;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                    .dataTables_paginate{
                        span{
                            .paginate_button{
                                border: none;
                                background: #222;
                                padding: 2px;
                                border-radius: 0;
                                color: #fff !important;
                            }
                        }
                    }
                }
                
            }
    
            .c-actions {
                text-align: end;
                border-top: 1px solid #eeee;
                padding-top: 20px;
    
                a, button {
                    min-width: 80px;
                }
            }
    
            .action-column {
                a {
                    color: #FFFFFF;
                }
            }
    
        }
    }
}