.home {
    &__type-select {
        display: flex;
        margin-bottom: 110px;
    }

    &__image-button {
        position: relative;
        width: 100%;

        &:nth-child(1){
            .type-image{
                background-image: url("https://i.kym-cdn.com/entries/icons/original/000/035/699/pepe.jpg");
            }
        }
        &:nth-child(2){
            .type-image{
                background-image: url("https://external-preview.redd.it/xPTu85KZxiSgka88xucW9vF5loOYdzLfgvvWWMCkVEI.jpg?auto=webp&s=6cef5f96dd4a1cb47e7b703ad674e29254e12983");
            }
        }
        &:nth-child(3){
            .type-image{
                background-image: url("https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg");
            }
        }

        .type-image{
            padding-top: 150%;
            background: no-repeat center/cover;
            @media (max-width: 767px) {
                padding-top: 100%;
            }
        }

        .type-content {
            font-size: 3.4rem;
            line-height: 1;
            font-weight: 700;
            text-align: center;
            &.center{
                padding: 35px 110px;
                border: 2px solid #ffffff;
                margin-bottom: 95px;
                @media(max-width: 1400px){
                    padding: 15px 50px;
                    margin-bottom: 60px;
                }
                @media(max-width: 767px){
                    margin-bottom: 30px;
                    padding: 15px;
                }
            }
            &.bottom {
                color: inherit;
            }
            &.center,
            &.bottom{
                @media(max-width: 1400px){
                    font-size: 2.5rem;
                }
                @media(max-width: 767px){
                    font-size: 2rem;
                }
            }
        }

        div.overlay {
            transition: 0.3s;
            &:hover {
                background-color: rgba(200, 200, 200, 0.2);
            }
        }
    }

    &__info {
        font-size: 2.6rem;
        & > *{
            margin-bottom: 110px;
        }
    }

    &__how-to {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        & > * {
            display: inline-block;
            line-height: 1;
        }
        h2{
            font-size: 4rem;
            margin: 0;
        }
        hr{
            width: 330px;
            margin: 0 40px;
            opacity: 1;
            height: 0;
        }
    }

    &__intro {
        white-space: pre-line;
        line-height: 2;
    }

    &__step {
        .title {
            margin: 0 0  55px 0;
            h3 {
                font-size: 3rem;
                margin: 0;
                line-height: 1;
                display: flex;
                align-items: center;
                span{
                    font-size: 4rem;
                    font-weight: inherit;
                    margin-right: 40px;
                }
            }
        }
        p{
            margin: 0;
        }
    }
}
