.home {
    &__how-to {
        & > * {
            display: inline-block;
        }
    }

    &__type-select {
        display: flex;
        margin-bottom: 64px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__image-button {
        position: relative;
        width: 100%;
        height: 640px;
        @media (max-width: 768px) {
            height: 200px;
        }

        .type-content {
            color: white;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

        .center {
            top: 50%;
            border: 1px solid white;
            padding: 5% 10%;
        }

        .bottom {
            @media (max-width: 768px) {
                visibility: hidden;
            }
            top: 65%;
        }

        div.overlay {
            transition: 0.3s;
            &:hover {
                background-color: rgba(200, 200, 200, 0.2);
            }
        }
    }

    &__info {
        margin: 36px 64px 72px;
        & > * {
            margin-bottom: 64px;
        }
    }

    &__intro {
        white-space: pre-line;
        line-height: 32px;
    }

    &__step {
        .title {
            margin-bottom: 24px;

            h3,
            h4 {
                display: inline;
            }

            h3 {
                margin-right: 12px;
            }
        }
    }
}
