<div class="template-meo">
    <div>ペットの種類</div>
    <div data-field="type" data-label="ペットの種類" data-type="radio" data-options="犬,猫,鳥">type</div>
    <div>行方が分からなくなった日時</div>
    <div data-field="datetime" data-label="行方が分からなくなった日時" data-type="datetime">行方が分からなくなった日時</div>
    <div>分頃 行方が分からなくなった場所</div>
    <div data-field="address" data-label="分頃 行方が分からなくなった場所" data-type="input">address</div>
    <div>ペットのお名前</div>
    <div data-field="name" data-label="ペットのお名前" data-type="input">name</div>
    <div>ペットの性別</div>
    <div data-field="sex" data-label="ペットの性別" data-type="input">sex</div>
    <div>ペットの年齢</div>
    <div data-field="age" data-label="ペットの年齢" data-type="input">age</div>
    <div>ペットの特徴・性格など </div>
    <div data-field="age" data-label="ペットの特徴・性格など " data-type="textarea">đặc điểm về tính cách của thú</div>
    <div>その他（失踪した経緯や状況）</div>
    <div data-field="comment" data-label="その他（失踪した経緯や状況）" data-type="textarea">comment</div>
    <div>飼い主様のお名前</div>
    <div data-field="image1" data-label="飼い主様のお名前" data-type="file">image</div>
    <img id="image1" src="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" alt="your image" />
</div>

<style>
    .template-meo {
        background: #ffe100;
        padding: 10px;
    }
    img {
        width: 307px;
    }
</style>
