@import "home/_home.scss";
@import "select-template/_select-template.scss";
@import "shared/overlay.scss";

.c-app {
    position: relative;
    margin: 0;
}

.c-wrapper {
    max-width: 1320px;
    min-width: 1320px;
    margin: 0 auto;
}
