@import "home/_home.scss";
@import "select-template/_select-template.scss";
@import "shared/overlay.scss";
@import "login/_login.scss";
@import "select-template/_detail.scss";
@import "user-register/_user-register.scss";
@import "admin-app/admin-app";
@import "shared/_global.scss";

@font-face {
    font-family: "YuGothic";
    src: url("/storage/fonts/yugothib.ttf");
}

.c-app {
    font-family: "YuGothic";
    position: relative;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    color: var(--textColor);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
}

div.c-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
}

div.c-wrapper .c-body {
    flex: 1;
}