<div class="poster">
    <section class="poster__header">
        <section class="poster__row l-flex">
            <div id="pet-type" class="poster__text--red poster__text--huge js-data-bind" data-field="pet-type" data-label="ペットの種類" data-type="radio" data-options="犬,猫,鳥">犬</div>
            <div class="poster__text-looking poster__text--large">探し</div>
            <div>
                <div id="pet-name" class="poster__button poster__text--large js-data-bind" data-field="pet-name" data-label="名前" data-type="input">
                    こたろう
                </div>
                <div class="poster__text-looking2 poster__text--large">ています</div>
            </div>
        </section>
    </section>
    <section class="poster__main">
        <section class="poster__row--has-col l-flex">
            <section class="poster__col">
                <div class="js-data-bind" data-field="image1" data-label="画像アップロード" data-type="file"></div>
                <div id="image1" class="poster__image"
                    style='background-image: url("https://i.pinimg.com/originals/64/07/ca/6407ca5733408d57045634ea07ad6809.jpg")'>
                </div>
            </section>
            <section class="poster__col">
                <section class="poster__row">
                    <div class="js-data-bind" data-field="image2" data-label="画像アップロード2" data-type="file"></div>
                    <div id="image2" class="poster__image"
                        style='background-image: url("https://i.pinimg.com/236x/91/1b/be/911bbe2a5939c4c604370cfa1ca5be5a.jpg")'>
                    </div>
                </section>
                <section class="poster__row">
                    <div class="js-data-bind" data-field="image3" data-label="画像アップロード3" data-type="file"></div>
                    <div id="image3" class="poster__image"
                        style='background-image: url("https://i.pinimg.com/originals/3a/f2/35/3af235537537ff285f1d46a59f613684.jpg")'>
                    </div>
                </section>
            </section>
        </section>
        <section class="poster__row--bg-inner l-flex-center poster__text--medium">
            <div id="datetime-lost" class="js-data-bind" data-field="datetime-lost" data-label="行方が分からなくなった日時"
                data-type="datetime">
                2017<span>年</span>
                9<span>月</span>
                10<span>日</span>
                14<span>時</span>
                00<span>分頃</span>
            </div>
            <div id="lost-place" class="js-data-bind" data-field="lost-place" data-label="迷子になった場所" data-type="input">
                市原市西広3丁目付近より行方不明</div>
        </section>
        <section class="poster__row--has-col l-flex-center">
            <section class="poster__col poster__col--mr">
                <section class="poster__row">
                    <ul class="poster__list poster__text--small">
                        <li class="l-flex">
                            <div class="poster__text--blue">ペットの品種</div>
                            <div id="pet-breed" class="js-data-bind" data-field="pet-breed" data-label="ペットの品種" data-type="input">雑種</div>
                        </li>
                        <li class="l-flex">
                            <div class="poster__text--blue">性別</div>
                            <div id="pet-gender" class="js-data-bind" data-field="pet-gender" data-label="性別"
                                data-type="input">雄</div>
                        </li>
                        <li class="l-flex">
                            <div class="poster__text--blue">年齢</div>
                            <div id="pet-age" class="js-data-bind" data-field="pet-age" data-label="年齢"
                                data-type="input">オス/3歳6ヶ月</div>
                        </li>
                        <li class="l-flex">
                            <div class="poster__text--blue">特徴・性格1</div>
                            <div id="pet-features-personality1" class="js-data-bind" data-field="pet-features-personality1"
                                data-label="特徴・性格1" data-type="input">
                                茶色
                            </div>
                        </li>
                        <li class="l-flex">
                            <div class="poster__text--blue">特徴・性格2</div>
                            <div id="pet-features-personality2" class="js-data-bind" data-field="pet-features-personality2"
                                data-label="特徴・性格2" data-type="input">
                                人なつっこい
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
            <section class="poster__col">
                <section class="poster__row">
                    <ul class="poster__list poster__text--small">
                        <li class="l-flex">
                            <div class="poster__text--blue">特徴・性格3</div>
                            <div id="pet-features-personality3" class="js-data-bind" data-field="pet-features-personality3"
                                data-label="特徴・性格3" data-type="input">
                                茶色
                            </div>
                        </li>
                        <li class="l-flex">
                            <div class="poster__text--blue">特徴・性格4</div>
                            <div id="pet-features-personality4" class="js-data-bind" data-field="pet-features-personality4"
                                data-label="特徴・性格4" data-type="input">
                                人なつっこい
                            </div>
                        </li>
                    </ul>
                </section>
                <section class="poster__row">
                    <div id="notes" class="poster__text--medium js-data-bind" data-field="notes" data-label="ノート" data-type="textarea">
                        先日突然おきた雨にびっくりして、外に飛び出してしまいました。人なつっこ い性格なので、名前を呼べば近づいてく るかもしれません。
                    </div>
                </section>
            </section>
        </section>
    </section>
    <section class="poster__footer poster__text--center">
        <section class="poster__row poster__text--medium">
            <div class="poster__text-contact">見かけた方・保証してくださった方は下記までご連絡をお願いします。
            </div>
        </section>
        <section class="poster__row">
            <div id="owners-name" class="js-data-bind" data-field="owners-name" data-label="飼い主様のお名前" data-type="input">
                鈴木一郎</div>
        </section>
        <section class="poster__row l-flex-center">
            <div id="phone-number" class="js-data-bind" data-field="phone-number" data-label="電話番号" data-type="input">
                TEL.090-XXXX-XXXX</div>
            <div id="email" class="js-data-bind" data-field="email" data-label="Eメール" data-type="input">
                kotaro_t@wonderful.jp</div>
        </section>
    </section>
</div>

<style>
    :root {
        --bgPoster: #fff100;
        --bgPoster2: #00a238;
        --bgPoster3: #31068e;
        --colorTxt: #000000;
        --colorTxt2: #f3004e;
        --colorTxt3: #fdf400;
        --colorTxt4: #011d7f;
        --fontSizeSmall: 14px;
        --fontSizeNormal: 30px;
        --fontSizeMedium: 17px;
        --fontSizeLarge: 100px;
        --fontSizeHuge: 200px;
        --colorTextShadow: #000000;
    }

    .poster {
        width: 820px;
        /* height: 1200px; */
        background: var(--bgPoster);
        margin: 0 auto;
        font-size: var(--fontSizeNormal);
        color: var(--colorTxt);
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .poster__header {
        background: var(--bgPoster2);
        padding: 20px 10px 0 10px;
    }

    .poster__main {
        padding: 10px;
    }

    .poster__text--small {
        font-size: var(--fontSizeSmall);
    }

    .poster__text--medium {
        font-size: var(--fontSizeMedium);
    }

    .poster__text--large {
        font-size: var(--fontSizeLarge);
    }

    .poster__text--huge {
        font-size: var(--fontSizeHuge);
    }

    .poster__text--red {
        color: var(--colorTxt2);
    }

    .poster__text--blue {
        color: var(--colorTxt4);
    }

    .poster__text--center {
        text-align: center;
    }

    .poster__row--has-col,
    .poster__row {
        padding: 0 0 10px 0;
    }

    .poster__row--has-col {
        padding: 10px 5px;
    }

    .poster__row--bg-inner {
        background-color: #000;
        color: #fff;
        padding: 5px 20px;
        margin: 0 10px 10px;
    }

    .poster__footer {
        background: var(--bgPoster2);
        padding: 10px;
        color: #fff;
    }

    .poster__col {
        padding: 0 10px;
        flex-basis: 50%;
    }

    .poster__col .poster__row:last-child{
        padding: 0;
    }
    
    .poster__col--mr {
        margin-right: 40px;
    }

    .poster__col--w-40 {
        flex-basis: 40%;
    }

    .l-flex-center,
    .l-flex-space-between,
    .l-flex-column,
    .l-flex {
        display: flex;
        align-items: center;
    }

    .l-flex-column > *:last-child,
    .l-flex > *:last-child{
        flex-grow: 1;
    }

    .l-flex-column {
        flex-direction: column;
    }

    .l-flex-space-between {
        justify-content: space-between;
    }

    .l-flex-center {
        justify-content: center;
    }

    .poster__button--red,
    .poster__button {
        background: #fff;
        border-radius: 10px;
        text-align: center;
        line-height: 1;
        padding: 15px 150px;
        display: inline-block;
        color: var(--colorTxt);
    }

    .poster__button--red {
        color: var(--colorTxt2);
    }

    .poster__group-heading {
        min-width: 335px;
    }

    .poster__group-heading+.poster__group-heading {
        margin-top: 15px;
    }

    .poster__group-heading .title {
        background: #222;
        color: #fff;
        text-align: center;
        border-radius: 10px 10px 0 0;
        height: 30px;
        line-height: 30px;
    }

    .poster__group-heading .content {
        background: #fff;
        border-radius: 0 0 10px 10px;
        padding: 10px;
    }

    .poster__text--shadow {
        text-shadow:
            5px 5px 0 var(--colorTextShadow),
            4px 5px 0 var(--colorTextShadow),
            3px 5px 0 var(--colorTextShadow),
            2px 5px 0 var(--colorTextShadow),
            1px 5px 0 var(--colorTextShadow),
            0px 5px 0 var(--colorTextShadow),
            -1px 5px 0 var(--colorTextShadow),
            -2px 5px 0 var(--colorTextShadow),
            -3px 5px 0 var(--colorTextShadow),
            -4px 5px 0 var(--colorTextShadow),
            -5px 5px 0 var(--colorTextShadow),
            5px -5px 0 var(--colorTextShadow),
            4px -5px 0 var(--colorTextShadow),
            3px -5px 0 var(--colorTextShadow),
            2px -5px 0 var(--colorTextShadow),
            1px -5px 0 var(--colorTextShadow),
            0px -5px 0 var(--colorTextShadow),
            -1px -5px 0 var(--colorTextShadow),
            -2px -5px 0 var(--colorTextShadow),
            -3px -5px 0 var(--colorTextShadow),
            -4px -5px 0 var(--colorTextShadow),
            -5px -5px 0 var(--colorTextShadow),
            5px 4px 0 var(--colorTextShadow),
            5px 3px 0 var(--colorTextShadow),
            5px 2px 0 var(--colorTextShadow),
            5px 1px 0 var(--colorTextShadow),
            5px 0px 0 var(--colorTextShadow),
            5px -4px 0 var(--colorTextShadow),
            5px -3px 0 var(--colorTextShadow),
            5px -2px 0 var(--colorTextShadow),
            5px -1px 0 var(--colorTextShadow),
            -5px 4px 0 var(--colorTextShadow),
            -5px 3px 0 var(--colorTextShadow),
            -5px 2px 0 var(--colorTextShadow),
            -5px 1px 0 var(--colorTextShadow),
            -5px 0px 0 var(--colorTextShadow),
            -5px -4px 0 var(--colorTextShadow),
            -5px -3px 0 var(--colorTextShadow),
            -5px -2px 0 var(--colorTextShadow),
            -5px -1px 0 var(--colorTextShadow);
    }

    #pet-type {
        font-weight: 700;
        line-height: 1;
        color: var(--colorTxt3);
    }

    #pet-name {
        font-weight: 700;
        line-height: 1;
        position: relative;
        display: block;
        padding: 10px 30px;
        margin-bottom: 10px;
        width: 490px;
    }

    #pet-name:before {
        content: "名前";
        writing-mode: vertical-lr;
        font-size: var(--fontSizeMedium);
        position: absolute;
        left: 10px;
        top: 5px;
        font-weight: 400;
    }

    .poster__text-looking2,
    .poster__text-looking {
        font-weight: 700;
        line-height: 1;
        color: #ffffff;
    }

    .poster__text-looking {
        writing-mode: vertical-lr;
        margin-right: 5px;
    }

    #datetime-lost {
        margin-right: 5px;
    }

    .poster__image {
        background: var(--bgFirstScreen) no-repeat center/cover;
        border-radius: 20px;
    }

    #image1 {
        padding-top: 92%;
        width: 475px;
    }

    #image2,
    #image3 {
        padding-top: 78%;
    }

    .poster__list {
        background: #fff;
        border-radius: 6px;
        padding: 10px;
        margin: 0;
        font-weight: 700;
    }

    .poster__list li {
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .poster__list li div:first-child {
        width: 45%;
    }

    #notes {
        letter-spacing: 2px;
        line-height: 1.5;
    }

    .poster__footer section:last-child {
        padding-bottom: 0;
    }

    #phone-number {
        font-weight: 700;
        margin-right: 20px;
        width: 350px;
        line-height: 1;
    }

    #twitter {
        padding: 5px 100px;
        border-radius: 5px;
        line-height: 1;
    }

    #twitter:before {
        content: "\f099";
        color: #008ec9;
        font-family: "Font Awesome 5 Brands";
        margin-right: 10px;
    }

    #email {
        line-height: 1;
        font-weight: 700;
    }

    #owners-name {
        font-weight: 700;
        font-size: 50px;
    }
</style>